body
{
	font-family: aurelio,italic,verdana;/*caractère police*/
	color: green;
	background-color:#94bbe9;/*couleur de fond*/
	overflow: auto;
	z-index: 10;
}
#bloc
{
	width: 900px;/*largeur*/
	margin: auto;/*marge*/
}
nav ul
{
	list-style-type: none;/*type de liste*/
	display: flex;/*afficher flechir*/
}
header
{
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
	margin:auto;
}
nav li
{
	margin-right:15px;
}
.id p
{
	display: flex;
}
header,div,article,footer
{	border: 1px solid black;
	padding: auto;
	margin-right:auto;
	overflow: all;
} 	
h1
{
	color:#760001;
	
}
h3
{
	color:#fc466b ;
	
}
p
{
	color: blue;
	margin: 1px solid black;
	
}
h4
{
	color:orange;
}
nav a:hover
{
	color: #760001;
	border-bottom: 3px solid #760001;
}
#bouton
{
	width: 59px;
	height: 60px;
	color: red;
	cursor: auto;
}
article
{
	overflow: all;
}
div ul
}
image
{
	float: center;
}